@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-image: url(https://live.staticflickr.com/296/20309290542_884c1f3af6_k.jpg);
}
  
  ol, ul {
    padding-left: 30px;
  }
  .game-board{
    margin-right:auto;
    margin-left:auto;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:5em;
    color:white;
  }
  
  .square {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(0, 198, 248);
    float: left;
    color:rgb(189, 252, 16);
    font-size: 15em;
    line-height: 34px;
    height: 1em;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 1em;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
    color:rgb(0, 198, 248);
  }
  
  